<!-- banner -->

<h1 class="font-bold title">Miguel Romero</h1>
<h4 class="font-bold">Desarrollador Web</h4>
<p>Desarrollo con propósito, resultados que impactan</p>
<p>Ey! Soy desarrollador Web con conocimientos en Front, Back y Bases de datos, puedo ayudarte en lo que desees</p>

<div class="d-flex flex-wrap">
    <span class="itemH">
        <fa-icon class="itemH-icon" [icon]="faBriefcase"></fa-icon>
        Disponible
    </span>
    <a aria-label="Ir a Linkedin" class="itemH text-link" target="_blank" href="https://www.linkedin.com/in/miguel-romero-12267420a/">
        <fa-icon class="itemH-icon" [icon]="faLink"></fa-icon>
        Linkedin
    </a>
    <a aria-label="Ir a WhatsApp" class="itemH text-link" target="_blank" href="https://wa.me/573005202684">
        <fa-icon class="itemH-icon" [icon]="faCommentDots"></fa-icon>
        WhatsApp
    </a>
</div>

<!-- <form [formGroup]="emailForm" class="email" (ngSubmit)="onSubmit()">
    <p>Me gustaria hacer parte de tus proyectos e ideas</p>
    <div class="form-gropu">
        <label for="email">First Name: </label>
        <input id="email" name="email" type="email" formControlName="email">
        <button type="submit" [disabled]="!emailForm.valid">Submit</button>
        <div *ngIf="email?.invalid && (email.dirty || email.touched)"
              class="alert">
            <div *ngIf="email.hasError('required')">
              Necesito un correo para .
            </div>
            <div *ngIf="email.hasError('minlength')">
              Name must be at least 4 characters long.
            </div>
        </div>
    </div>
</form> -->