.btn-nav{
    color: var(--mr-text-color);
    opacity: 0.6;
    font-size: 14px;
    box-sizing: border-box;
    width: 100px;
    margin: 0 40px;
    &.active{
        opacity: 1;
        font-size: 15px;
        border-bottom: 3px solid var(--mr-primary-color);
    }

    &:hover{
        opacity: 1;
        font-size: 15px;
        transition: font-size 0.5s;
    }
}